<div style="background-color: <%= userInfo.banner_color %>" class="flex h-min rounded-lg p-2 items-center">
  <img class="avatar rounded-full h-12" src="<%=userInfo.avatar%>" alt="avatar">
  <div class="ml-2">
    <h4 class="text-base [text-shadow:_1px_0_10px_rgb(0_0_0)] text-white font-semibold"><%=userInfo.global_name%></h4>
    <h6 class="text-xs text-white [text-shadow:_1px_0_10px_rgb(0_0_0)]"><%=userInfo.username%></h6>
  </div>
</div>